
<form>
    <h1>Change Password</h1>
    <p>Password must contain at least 1 of the following:</p>
    <ul>
        <li>Lower Case Letter</li>
        <li>Upper Case Letter</li>
        <li>Number</li>
        <li>Special Character</li>
    </ul>
    <mat-form-field>
        <input matInput placeholder="Password" type="password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage("password")}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm Password" type="password" [formControl]="passwordConfirm" required>
        <mat-error *ngIf="passwordConfirm.invalid">{{getErrorMessage("passwordConfirm")}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-bottom: 5%">Save</button>
</form>