<mat-card>
  <mat-card-content>
    <div>
      <h1>Edit User</h1>
    </div>
    <form>
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User ID" [formControl]="userID" required>
        <mat-error *ngIf="userID.invalid">{{getErrorMessage("userID")}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>first Name</mat-label>
        <input matInput placeholder="First Name" [formControl]="firstName" required>
        <mat-error *ngIf="firstName.invalid">{{getErrorMessage("firstName")}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" [formControl]="lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getErrorMessage("lastName")}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>username</mat-label>
        <input matInput placeholder="Username" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessage("username")}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>Site</mat-label>
        <mat-select [(ngModel)]="selectedSite" name="site">
          <mat-option *ngFor="let site of sites" [value]="site.name">{{site.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>Clinic</mat-label>
        <mat-select [(ngModel)]="selectedClinic" name="clinic">
          <mat-option *ngFor="let clinic of clinics" [value]="clinic">{{clinic}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="userLoaded">
        <mat-label>User Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" name="status">
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-bottom: 5%">Save</button>
    <button mat-raised-button color="warn" (click)="onDelete()" style="margin-bottom: 5%">Delete User</button>
  </mat-card-actions>

</mat-card>